<div class="flex items-center gap-12 border-b border-[#E4E7EC] h-16">
    <div class="flex md:flex-[1_0_0] gap-2.5">
        <!-- <p class="pl-4 sm:px-16 font-bold leading-normal not-italic tracking-[-0.06225rem] text-[1.77925rem]">OPENCONF</p> -->
        <img src="/Header/OPENCONF.png" alt="OpenConf" class="pl-4 sm:px-16">
    </div>
    <ul class="lg:flex gap-[1.125rem] hidden">
        <li class="text-base font-normal">Home</li>
        <li class="text-base font-normal">About</li>
        <li class="text-base font-normal">Organizers</li>
        <li class="text-base font-normal">Agenda</li>
        <li class="text-base font-normal">FAQs</li>
    </ul>
    <div class="pr-4 sm:px-16 flex flex-col items-end flex-[1_0_0] gap-2.5">
        <button class="py-2.5 px-5 rounded-lg bg-[#FCFCFD] border border-[#D0D5DD]">Home</button>
    </div>
</div>